*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header{
    height: 3.5pc;
    background-color: rgb(45, 49, 53);
    border-bottom: solid black 1px;
    color: white;
    font-style: italic;
    padding:0 1pc;
    text-transform: uppercase;
    font-size: 2pc;
}
.navbar{
    background-color: rgb(236, 233, 233);
    height:3pc;
    display: flex;
    justify-content: space-around;
    border-bottom: solid blue 1px;

}
.navbar a{
    border: 1px solid black;
    height: 1.5pc;
    color:black;
    background-color: rgb(227, 233, 235);
     text-decoration: none;
     font-size: 1.2pc;
     padding: 0 5px;
     margin: 7px 0;
}
.table{
    width: 77%;
    padding: 1pc;
}
table{
    width: 100%;
    border-collapse:separate;
    border: none;

}
td,th{
    height: 2pc;
    text-align: left;
    border: solid black 1px;
    border-radius: 3px;
    padding: 0 1pc;
}
.right{
    display: flex;
    flex-direction: row-reverse;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: black;
    box-shadow: 0 0 010px black;
    text-align: center;
    height: 4pc;
    font-size: 1pc;
    color: white;
    font-style: italic;
    /* margin-top: 10pc; */
    width: 100%;
}
footer h1{
    font-size: 1.5pc;
    color: white;
    text-decoration: underline;
}
.form{
    margin: 2px 1px;
    width: 20%;
    display: flex;
    padding: 1pc;
    background-color: rgb(210, 220, 228);
    border :solid blue 1px;
    flex-direction: column;
}
td button{
width: 5pc;
height: 80%;
border:none;
}
.up{
    background-color: green;
    color: white;
}
.del{
    background-color: red;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
}
input,select{
    height: 1.5pc;
    margin-bottom: 0.5pc;
    border: none;
    border-bottom: 1px solid blue;
    background-color: none;
}
input[type=submit]{
    background-color: blue;
    border: none;
    height:2pc;
    border-radius: 0.3pc;
    color: white;
}
label{
    color: black;
}